extends layout

block content
  h1= title
  div
    table#keywords(data-role="table")&attributes({'data-mode': 'columntoggle'}, {'data-filter': 'true'}, {'data-input': '#filterTable-input'})
      thead
        tr
          th(data-priority="3") Symbol
          th(data-priority="2") CompanyName
          th(data-priority="1") CurrentPrice
          th PE
          th PB
          th lastUpdatedTime
        each stock, i in stocks
          tbody
            tr
              td #[a(href='http://finance.sina.com.cn/realstock/company/' + stock._id + '/nc.shtml') #{stock._id}]
              td #{stock.companyname}
              td #{stock.currentPrice}
              td #{stock.price2EarningRatio}
              td #{stock.price2BookRatio}
              td #{stock.lastUpdatedTime}