extends layout

block content
  h1= title
  div
    table
      tr
        th Symbol
        th Shared average cost
        th Shares
        th Current price
        th Earing report date
      each stock, i in stocks
        tr
          td #[a(href='http://www.nasdaq.com/symbol/' + stock._id) #{stock._id}]
          td #{stock.sharedAverageCost}
          td #{stock.shares}
          td #{stock.currentPrice}
          td
            if stock.reportDate
              #{stock.reportDate.month}/#{stock.reportDate.day}/#{stock.reportDate.year}