extends layout

block content
	h1= title
	div
		table
			tr
				th Symbol
				th CompanyName
				th TradeInPrice
				th TradeInVolumn
				th CurrentPrice
			each stock, i in stocks
				tr
					td #[a(href='http://www.nasdaq.com/symbol/' + stock._id) #{stock._id}]
					td #{stock.companyName}
					td #{stock.tradeinprice}
					td #{stock.tradeinnumber}
					td #{stock.currentPrice}
	